

.JordanLista {
    display: grid;
    padding-top: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 50px;
    grid-auto-flow: row;
  }
  
  @media (max-width: 1220px) {
    .JordanLista {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 840px) {
    .JordanLista {
      grid-template-columns: 1fr;
    }
  }
  
  .JordanListaItem {
    font-family: "Exo";
    border-style:solid;
    border-width: 1px;
    background: #F6F6F6;
    border-radius: 10px;
    padding: 10px;
    width: 315px;
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  
  @media (max-width: 400px) {
    .JordanListaItem {
      width: 210px;
      height: 180px;
    }
  }
  
  .JordanListaItem > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .JordanListaItem__titulo {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 100%;
  }
  
  .JordanListaItem__descricao {
    font-size: 0.85em;
  }
  
  .JordanListaItem__preco {
    color: rgb(0, 0, 0);
  }
  
  .Acoes {
    display: flex;
    justify-content: space-between;
  }
  
  .Acoes__adcionar,
  .Acoes__remover {
    border: none;
    color: white;
    border-radius: 5px;
    font-family: "Exo", sans-serif;
    padding: 5px;
    max-width: 280px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 48%;
  }
  
  .Acoes__remover {
    background-color: red;
  }
  
  .Acoes__adcionar {
    background-color: rgb(0, 120, 211);
  }
  
  .Acoes__adcionar--preencher {
    width: 100%;
  }
  
  .JordanListaItem__Foto {
    height: 150px;
    margin-right: -50px;
  }
  .JordanListaItem__badge {
    background-color: #000000b0;
    width: 15px;
    height: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
    top: -9px;
    left: -9px;
  }